.button {
  background-color: #24ad1a;
  border-radius: 15px;
  color: white;
  width: 20%;
  height: 2.5rem;
  border: none;
  transition: ease-in-out 0.3s;
  margin-right: 10px;
}

.button:hover {
  background-color: #2ee820;
  cursor: pointer;
}
