.body{
    justify-content: center; /* Horizontal alignment */
    align-items: center; /* Vertical alignment */
    background-image: url('../assets/books.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-position: center; /* Center the image */
    background-size: cover;
    background-repeat: no-repeat;
   
}

.box {
    width: 400px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    font-family:'Courier New', Courier, monospace;
    border: 1px solid #000; /* Border color and thickness */
    padding: 20px; /* Padding inside the box */
    margin: 20px; /* Margin outside the box */
    background-color: #96ccd14a; /* Background color */
    border-radius: 10px; /* Border radius for rounded corners */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Box shadow for depth effect */
    /* Other styling properties as needed */
}
.image1 {
    background-image: url('../assets/plane.jpg'); /* Specify path to image 1 */
}
  .box:hover{
    background-color: #8ac8cb;
    border: 1px solid #000;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out; /* Add animation */
    transform: scale(1.1); /* Scale effect on hover */
}
h2{
    font-family: 'Courier New', Courier, monospace;
}


