.header {
  height: 5rem;
  width: 100;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 0.75rem;

  background-color: #ededed;
}

.header .title {
  /* font-weight: 600; */
  font-size: 20px;
}
