.nav-bar {
    list-style-type:circle;
    margin: 50px;
    padding: 40px;
    overflow: hidden;
    background-color: rgb(210, 217, 241);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
  }
  
  
  .li {
    display: block;
    text-align: center;
    padding: 10px 10px;
    margin: 10px;
    text-decoration:dotted;
    float: left;
  }
  
  .li :hover:not(.active) {
    background-color: #faf36c;
  }
 
