/* TodoList.css */
.todo-list {
  max-width: 400px;
  color: rgb(6, 23, 32);
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #deb1b1;
  border-radius: 5px;
}

input[type='text'] {
  width: calc(100% - 100px);
  padding: 8px;
  margin-right: 10px;
  border: 2px solid #803131;
  border-radius: 5px;
}

input[type='text']:focus {
  outline: none;
  border-color: #74a7de;
}

button {
  padding: 8px 16px;
  margin-left: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: rgb(18, 6, 6);
  transition: background-color 0.3s ease;
}

.add-task {
  background-color: #97adc4; /* Blue for add task button */
}

.add-task:hover {
  background-color: #0056b3;
}

.edit-task {
  background-color: #2e6f3e; /* Green for edit button */
}

.edit-task:hover {
  background-color: #328b46;
}

.delete-task {
  background-color: #dc3545; /* Red for delete button */
}

.delete-task:hover {
  background-color: #c82333;
}

ul {
  list-style: none;
  padding: 0;
}

.task-item {
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #6c726d;
  border-radius: 5px;
  background-color: #338e41;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-item.completed {
  background-color: #973838;
  text-decoration: line-through;
}

.task-item.active {
  background-color: #d1f1d2; /* Green background for active tasks */
}

.task-item:hover {
  transform: translateY(-5px);
}

.filters {
  margin-top: 15px;
}

.filters button {
  margin-right: 8px;
  background-color: #dced57; /* Blue for filter buttons */
  border: #101109;
}

.filters button.active {
  background-color: #0056b3;
}

.filters button:hover {
  background-color: #b9cbdf;
}
