.page {
  padding: 1rem;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: wrap;

  margin-left: auto;
  margin-right: auto;

  width: 75%;
}

.col {
  flex: 1 0 0%;
}

.full-height {
  height: 100% !important;
}
