.boxes {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.box {
  background-color: rgb(236, 229, 245);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  margin: 20px;
  padding: 10px;
  border: 10px solid rgb(222, 214, 247);
  font-size: 2rem;
  color: rgb(12, 36, 2);
}

.box.current {
  background-color: rgb(120, 213, 233);
  border-color: rgb(170, 225, 236);
  transition: transform 0.5s;
  position: relative;
  animation-name: currentBox;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.box.current:hover {
  transform: translateY(-10px);
  background-color: rgb(222, 214, 247);
  border-color: rgb(120, 213, 233);
}

@keyframes currentBox {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-60px);
  }
}
