body {
  background-color: rgb(0, 1, 15);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: fit-content;
  height: 80vh;
  background-color: rgb(37, 36, 51);
  border-radius: 20px;
  padding: 20px;
}

h1 {
  color: rgb(153, 153, 208);
  text-align: center;
}

.App form {
  margin: 3rem;
  display: flex;
  justify-content: space-around;
}

input[type="text"] {
  width: 400px;
  padding: 8px;
  border-radius: 5px;
  background-color: aliceblue;
}

input[type="checkbox"] {
  width: 20px;
}

.add-btn {
  background-color: rgb(78, 76, 76);
  color: white;
  padding: 8px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid rgb(5, 5, 5);
}

.add-btn:hover {
  background-color: white;
  color: rgb(5, 5, 5);
  cursor: pointer;
}

.todo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo {
  margin: 1rem 3rem;
  background-color: aliceblue;
  display: flex;
  width: 400px;
  padding: 8px;
  border-radius: 5px;
  align-items: center;
}

.todo-text {
  flex: 1; /* takes up all the remaining space */
}

.todo.complete {
  opacity: 0.3;
  text-decoration: line-through;
}

.icon {
  margin-right: 10px;
  cursor: pointer;
}
