:root{
    color: rgb(229, 233, 238);
    background-color: rgb(20, 17, 16);
    padding: 30px 110px;
    border-color: brown;
    box-sizing:inherit;    
}
h1{
    color: rgb(178, 179, 125);
    text-align: center; 
    background-color: rgb(100, 65, 37);
}
button{
    background-color: rgb(241, 230, 217);
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 20px;
}
button:hover{
    background-color: rgb(226, 236, 38);
    box-shadow: 0 2px 10px rgba(243, 246, 244, 0.1); /* Box shadow for a lifted effect */
    transform: translateY(4px); /* Move the button slightly up to create a lifting effect */    
}
button:active {
    background-color: #ddd;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 90;
    text-align: center; 
    padding: auto;
    background-color: rgb(53, 117, 64);
}
h2{
    color: rgb(123, 213, 172);
    text-align: center;
    font-size: medium;
}
h3{
    font-size: larger;
    color: rgb(168, 209, 107);
}




