
*/


.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button-container > button {
  width: 200px;
  height: 50px;
  margin: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s; 
}

.button-container > button:hover {
  background-color: lightgray; /* Change background color on hover */
}

.button-tab {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; /* Increase font size */
}

.button--view {
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; 
}

.button--view-all {
  background-color: rgb(255, 51, 0);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; 
}

.button--view-h1 {
  background-color: peru;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; 
}

.button--view-h2 {
  background-color: blueviolet;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; 
}

